.header {
  &__categorie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 1440px;
    background-image: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
      ),
      url(./../../../../public/images/AdobeStock_375686554_Preview.jpeg);
      background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1{
      color: $white;
      font-size: 3rem;
    } 
    h3{
      color: $white;
      margin: 1rem 0;
    }
    
    &__select{
      margin-top: 1rem;
      border-radius: 2rem;
      padding: 0.50rem;
      border: none;
      box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .5);
      cursor: pointer;
      option{
        cursor: pointer;
      }
      &--one{
        margin: 0 0.5rem;
      }
      &--three{
        margin-left: 15rem;
      }
    }
  }
  position: relative;
  &__parallax {
    height: 35rem;
    width: 1440px;
    background-image: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
      ),
      url(./../../../../public/images/AdobeStock_375686737_Preview.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35rem;
  }
  &__title {
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem 0.1rem $shadow3;
    color: $white;
  }
  &__content {
    font-size: 1.1rem;
    color: $white;
    text-shadow: 0.1rem 0.1rem 0.1rem $shadow3;
    margin-top: 0.8rem;
  }
  i {
    margin-top: 3rem;
    color: $white;
    font-size: 1.5rem;
    text-shadow: 0.1rem 0.1rem 0.1rem $shadow3;
  }
}
