.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0.5rem auto;
  padding: 0 1rem;
  &__search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0.1rem solid $shadow3;
    border-radius: 5rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    &--box {
      display: flex;
      flex-direction: column;
      padding: 0.2rem 1rem 0.2rem 1rem;
      cursor: pointer;
      &:hover {
        box-shadow: 0.1rem 0.1rem 0.1rem $shadow3;
        border-radius: 5rem;
        transform: scale(1.1);
      }
      input {
        border: 0;
        font-size: 0.95rem;
        cursor: pointer;
      }
      label {
        font-size: 0.8rem;
        cursor: pointer;
      }
    }
    &--button {
      border-radius: 50%;
      background-color: $gold;
      color: $white;
      border: 0;
      cursor: pointer;
      margin-left: 1rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  &__links {
    display: flex;
  }
  &__link {
    margin-right: 2rem;
  }
  &__miniBox {
    display: flex;
    width: 11rem;
    justify-content: space-between;
    align-items: center;
    span {
      width: 2rem;
      height: 2rem;
      border-radius: 50rem;
      background: url(./../../../../public/images/Ellipse_87.png) center/cover;
    }
    p {
      font-size: 1rem;
      font-weight: 800;
    }
    i {
      margin-left: 2rem;
      font-size: 1rem;
    }
  }
}
.navMob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  &__miniBox {
    display: flex;
    width: 11rem;
    justify-content: space-between;
    align-items: center;
    span {
      width: 2rem;
      height: 2rem;
      border-radius: 50rem;
    }
    p {
      font-size: 1rem;
      font-weight: 800;
    }
    i {
      font-size: 1rem;
    }
  }
}
