.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba($color: #000000, $alpha: 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  background: $white;
  border-radius: 0.5rem;
  width: 60rem;
  height: 35rem;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 9rem;
    opacity: 0.6;
  }
}

.close-modal {
  border: 0.05rem $white solid;
  background: transparent;
  margin-left: 62rem;
  border-radius: 50rem;
  color: $white;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.1rem $shadow3;
  &:hover {
    transform: scale(1.1);
  }
}
.therapie {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 9rem;
    opacity: 0.6;
  }
}
