.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba($color: #000000, $alpha: 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  background: $white;
  border-radius: 0.5rem;
  width: 60rem;
  height: 35rem;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h4 {
    margin: 0 5rem;
    font-size: 1.7rem;
    text-align: center;
  }
}

.close-modal {
  border: 0.05rem $white solid;
  background: transparent;
  margin-left: 62rem;
  border-radius: 50rem;
  color: $white;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.1rem $shadow3;
  &:hover {
    transform: scale(1.1);
  }
}
.therapie {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 9rem;
    opacity: 0.6;
  }
  h3 {
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
  }
  p {
    text-align: center;
    margin: 0 10rem;
  }
}
.decision {
  &__box {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      margin: 1rem 3rem 0 3rem;
    }
  }
  &__img {
    border: 0.2rem solid black;
    border-radius: 50rem;
    width: 6rem;
    height: 6rem;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &--one {
      background-image: url(./../../../../public/images/idea_2.png);
      &:hover {
        transform: scale(1.1);
        background-color: $lightBlue;
        border: 0.2rem solid white;
        outline: 0.2rem solid $lightBlue;
        background-image: url(./../../../../public/images/idea_3.png);
      }
    }
    &--two {
      background-image: url(./../../../../public/images/love.png);
      &:hover {
        transform: scale(1.1);
        background-color: $lightBlue;
        border: 0.2rem solid white;
        outline: 0.2rem solid $lightBlue;
        background-image: url(./../../../../public/images/love_2.png);
      }
    }
    &--three {
      background-image: url(./../../../../public/images/brain_1.png);
      &:hover {
        transform: scale(1.1);
        background-color: $lightBlue;
        border: 0.2rem solid white;
        outline: 0.2rem solid $lightBlue;
        background-image: url(./../../../../public/images/brain_1_a.png);
      }
    }
  }
}
.decompress {
  &__box {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  &__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
    img {
      width: 90%;
      box-shadow: 0.1rem 0.1rem 0.1rem $shadow3;
      border-radius: 0.6rem;
    }
    p {
      margin-top: 1rem;
    }
  }
}
.affirmation {
  &__box {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
  }
  &__img {
    border: 0.2rem solid black;
    border-radius: 50rem;
    width: 6rem;
    height: 6rem;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &--one {
      background-image: url(./../../../../public/images/heureux.png);
      &:hover {
        transform: scale(1.1);
        background-color: $lightBlue;
        border: 0.2rem solid white;
        outline: 0.2rem solid $lightBlue;
        background-image: url(./../../../../public/images/heureuxa.png);
      }
    }
    &--two {
      background-image: url(./../../../../public/images/sourire.png);
      &:hover {
        transform: scale(1.1);
        background-color: $lightBlue;
        border: 0.2rem solid white;
        outline: 0.2rem solid $lightBlue;
        background-image: url(./../../../../public/images/sourire_1.png);
      }
    }
    &--three {
      background-image: url(./../../../../public/images/meh.png);
      &:hover {
        transform: scale(1.1);
        background-color: $lightBlue;
        border: 0.2rem solid white;
        outline: 0.2rem solid $lightBlue;
        background-image: url(./../../../../public/images/meha.png);
      }
    }
    &--four {
      background-image: url(./../../../../public/images/triste.png);
      &:hover {
        transform: scale(1.1);
        background-color: $lightBlue;
        border: 0.2rem solid white;
        outline: 0.2rem solid $lightBlue;
        background-image: url(./../../../../public/images/tristea.png);
      }
    }
    &--five {
      background-image: url(./../../../../public/images/douleur.png);
      &:hover {
        transform: scale(1.1);
        background-color: $lightBlue;
        border: 0.2rem solid white;
        outline: 0.2rem solid $lightBlue;
        background-image: url(./../../../../public/images/douleura.png);
      }
    }
  }
}
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5rem;
  p {
    margin-top: 1rem;
    em {
      color: $gold;
    }
  }
  button {
    margin: 0;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-right: 0.5rem;
    }
  }
  .button--facebook {
    background-color: #3376dc;
  }
  .button--google {
    background-color: transparent;
    color: #000000;
    border: 0.1rem solid $shadow;
  }
  &__ou {
    opacity: 0.7;
  }
  input {
    width: 17rem;
    height: 2.5rem;
    border: 0.1rem solid $shadow;
    border-radius: 0.5rem;
    padding-left: 1rem;
    margin: 0;
  }
  h5 {
    margin-right: 10rem;
  }
}
.headerMob {
  .modal,
  .overlay {
    width: 100vw;
    height: calc(100% + 10rem);
    z-index: 1000;
    transform: translateY(-5rem);
    background: rgba($color: #000000, $alpha: 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    background: $white;
    border-radius: 0.5rem;
    margin: 3rem 1rem 2rem 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 10rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button--hover {
      width: 100%;
    }
    h4 {
      margin: 0rem;
      font-size: 1.5rem;
      text-align: center;
    }
  }
  .close-modal {
    border: 0.1rem $white solid;
    transform: translateY(3rem);
    background: transparent;
    position: fixed;
    top: 0;
    right: 0.5rem;
    border-radius: 50rem;
    color: $white;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.1rem $shadow3;
    &:hover {
      transform: scale(1.1);
    }
  }
  .therapie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    img {
      width: 9rem;
      opacity: 0.6;
    }
    h3 {
      text-align: center;
      font-size: 1.8rem;
      margin: 1rem 0 1rem 0;
    }
    p {
      text-align: center;
      font-size: 1.05rem;
      margin: 0;
    }
  }
  .decision {
    &__box {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__img {
      margin-top: 0.5rem;
      width: 4rem;
      height: 4rem;
    }
  }
  .decompress {
    &__box {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    &__card {
      width: 48%;
      display: flex;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
      img {
        width: 100%;
        box-shadow: 0.1rem 0.1rem 0.1rem $shadow3;
        border-radius: 0.6rem;
      }
      p {
        margin: 1rem 0;
      }
    }
  }
  .affirmation {
    &__box {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__img {
      border: 0rem solid black;
      border-radius: 50rem;
      margin: 0.2rem;
      width: 4rem;
      height: 4rem;
      background-position: center;
      background-size: 75%;
      background-repeat: no-repeat;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      &--one {
        background-image: url(./../../../../public/images/heureux.png);
        &:hover {
          transform: scale(1.1);
          background-color: $lightBlue;
          border: 0rem solid white;
          outline: 0rem solid $lightBlue;
          background-image: url(./../../../../public/images/heureuxa.png);
        }
      }
      &--two {
        background-image: url(./../../../../public/images/sourire.png);
        &:hover {
          transform: scale(1.1);
          background-color: $lightBlue;
          border: 0rem solid white;
          outline: 0rem solid $lightBlue;
          background-image: url(./../../../../public/images/sourire_1.png);
        }
      }
      &--three {
        background-image: url(./../../../../public/images/meh.png);
        &:hover {
          transform: scale(1.1);
          background-color: $lightBlue;
          border: 0rem solid white;
          outline: 0rem solid $lightBlue;
          background-image: url(./../../../../public/images/meha.png);
        }
      }
      &--four {
        background-image: url(./../../../../public/images/triste.png);
        &:hover {
          transform: scale(1.1);
          background-color: $lightBlue;
          border: 0rem solid white;
          outline: 0rem solid $lightBlue;
          background-image: url(./../../../../public/images/tristea.png);
        }
      }
      &--five {
        background-image: url(./../../../../public/images/douleur.png);
        &:hover {
          transform: scale(1.1);
          background-color: $lightBlue;
          border: 0rem solid white;
          outline: 0rem solid $lightBlue;
          background-image: url(./../../../../public/images/douleura.png);
        }
      }
    }
  }
  .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
    p {
      margin-top: 1rem;
      font-size: 0.8rem;
      em {
        color: $gold;
      }
    }
  }
}
